{layout name="layout"/}
<div class="header">
    <div class="stats">
        <p class="stat"><span class="number">53</span>tickets</p>
        <p class="stat"><span class="number">27</span>tasks</p>
        <p class="stat"><span class="number">15</span>waiting</p>
    </div>

    <h1 class="page-title">系统信息</h1>
</div>

<ul class="breadcrumb">
    <li><a href="index.html">主页</a> <span class="divider">/</span></li>
    <li class="active">系统信息</li>
</ul>
<div class="container-fluid">
    <div class="row-fluid">
<h2>服务器信息</h2>
<table class="table table-bordered table-responsive table-striped table-hover">
    <tr>
        <td>服务器IP</td>
        <td>{$system.ip}</td>
    </tr>
    <tr>
        <td width="40%">服务器域名</td>
        <td width="60%">{$system.host}</td>
    </tr>
    <tr>
        <td>服务器操作系统</td>
        <td>{$system.os}</td>
    </tr>
    <tr>
        <td>运行环境</td>
        <td>{$system.server}</td>
    </tr>
    <tr>
        <td>服务器端口</td>
        <td>{$system.port}</td>
    </tr>
</table>
<table class="table table-bordered table-responsive table-striped table-hover">
    <h2>数据库信息</h2>
    <tr>
        <td>数据库版本</td>
        <td>{$system.mysql_version}</td>
    </tr>
    <tr>
        <td width="40%">数据库名称</td>
        <td width="60%">{$system.database}</td>
    </tr>
</table>
    </div>
</div>
