<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="创新中心学分管理系统">
        <meta name="keywords" content="左右结构 学分 ">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>创新中心后台管理系统</title>
        <script src="__STATIC__/js/jquery.min.js"></script>
        <script src="__STATIC__/js/bootstrap.min.js"></script>
        <script src="__STATIC__/js/main.js"></script>
        <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/common.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/slide.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/flat-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/jquery.nouislider.css">
    </head>
</head>
<body>
<!-- 左侧菜单栏目块 -->
<div class="leftMeun" id="leftMeun">
    <div id="logoDiv">
        <p id="logoP">
            <img id="logo" alt="创新中心" src="__STATIC__/images/logo1.png"><span>上次登录时间</span>
        </p>
    </div>
    <div id="personInfor">
        <p id="userName">董俊杰</p>
        <p>
            <a href="#">退出登录</a>
        </p>
    </div>
    <?php

                ?>
    <!--模块1-->
    <div class="meun-title">账号管理</div>
    <div class="meun-item meun-item-active" href="#sour" aria-controls="sour" role="tab" data-toggle="tab"><a href="#"><img src="__STATIC__/images/icon_source.png">资源管理</a></div>
    <div class="meun-item" href="#char" aria-controls="char" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_chara_grey.png">权限管理</div>
    <div class="meun-item" href="#user" aria-controls="user" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_user_grey.png">用户管理</div>
    <div class="meun-item" href="#chan" aria-controls="chan" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_change_grey.png">修改密码</div>
    <!--模块2-->

    <div class="meun-title"></div>
    <div class="meun-item" href="#scho" aria-controls="scho" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_house_grey.png">地区管理</div>
    <div class="meun-item" href="#regu" aria-controls="regu" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_rule_grey.png">规则管理</div>
    <div class="meun-item" href="#stud" aria-controls="stud" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_card_grey.png">人员信息</div>
    <div class="meun-item" href="#sitt" aria-controls="sitt" role="tab" data-toggle="tab"><img src="__STATIC__/images/icon_char_grey.png">{$value.title}</div>

</div>
</body>
</html>